/*
Syntax error: Undefined mixin 'no_float'.
        on line 76 of /Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass, in `no_float'
        from line 76 of /Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass

71:     color: #999
72:     padding: 0 0 15px 0
73: 
74: 
75: div#top_bar
76:   @include no_float
77:   width: 100%
78:   position: fixed
79:   top: 0
80:   z-index: 2
81:   background-color: #DDD

Backtrace:
/Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass:76:in `no_float'
/Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass:76
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `block in call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/Users/zeke/.rvm/gems/ruby-1.9.2-p136/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/zeke/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'no_float'.\A         on line 76 of /Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass, in `no_float'\A         from line 76 of /Users/zeke/Projects/wordnik/sniphr/app/stylesheets/screen.sass\A \A 71:     color: #999\A 72:     padding: 0 0 15px 0\A 73: \A 74: \A 75: div#top_bar\A 76:   @include no_float\A 77:   width: 100%\A 78:   position: fixed\A 79:   top: 0\A 80:   z-index: 2\A 81:   background-color: #DDD"; }
