/* line 14, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic {
  margin: 0;
  padding: 0;
}
/* line 8, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 11, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset {
  border: 0;
}
/* line 13, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}
/* line 16, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 18, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}
/* line 21, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 25, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}
/* line 27, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic legend {
  white-space: normal;
  color: black;
}
/* line 30, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}
/* line 34, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 38, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset {
  overflow: auto;
}
/* line 41, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}
/* line 44, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 47, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li {
  padding: 0.5em 0;
  margin-top: -0.5em;
  margin-bottom: 1em;
  overflow: auto;
}
/* line 53, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
}
/* line 58, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 61, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 65, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li fieldset {
  position: relative;
}
/* line 67, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
}
/* line 72, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li fieldset legend span, form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute;
}
/* line 74, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 79, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 83, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
}
/* line 86, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 89, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 93, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 97, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input, form.formtastic fieldset > ol > li.numeric input, form.formtastic fieldset > ol > li.email input, form.formtastic fieldset > ol > li.url input, form.formtastic fieldset > ol > li.phone input, form.formtastic fieldset > ol > li.search input {
  width: 72%;
}
/* line 99, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.string input[size], form.formtastic fieldset > ol > li.password input[size], form.formtastic fieldset > ol > li.numeric input[size], form.formtastic fieldset > ol > li.email input[size], form.formtastic fieldset > ol > li.url input[size], form.formtastic fieldset > ol > li.phone input[size], form.formtastic fieldset > ol > li.search input[size] {
  width: auto;
  max-width: 72%;
}
/* line 102, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.text textarea {
  width: 72%;
}
/* line 104, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.text textarea[cols] {
  width: auto;
  max-width: 72%;
}
/* line 107, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 110, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}
/* line 113, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 115, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.radio fieldset, form.formtastic fieldset > ol > li.check_boxes fieldset {
  overflow: visible;
}
/* line 117, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.radio fieldset ol, form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.5em;
}
/* line 119, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li, form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible;
}
/* line 122, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 125, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label input, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 127, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.date fieldset ol li, form.formtastic fieldset > ol > li.time fieldset ol li, form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 0.3em 0 0;
}
/* line 131, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label, form.formtastic fieldset > ol > li.time fieldset ol li label, form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}
/* line 133, ../../../app/stylesheets/_formtastic_defaults.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label input, form.formtastic fieldset > ol > li.time fieldset ol li label input, form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 25, ../../../app/stylesheets/screen.sass */
body {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial;
}

/* line 28, ../../../app/stylesheets/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
/* line 32, ../../../app/stylesheets/screen.sass */
h1 span.weak, h2 span.weak, h3 span.weak, h4 span.weak, h5 span.weak, h6 span.weak {
  color: #999999;
}
/* line 34, ../../../app/stylesheets/screen.sass */
h1 a.rogue, h2 a.rogue, h3 a.rogue, h4 a.rogue, h5 a.rogue, h6 a.rogue {
  color: black;
}
/* line 36, ../../../app/stylesheets/screen.sass */
h1 a.rogue:hover, h2 a.rogue:hover, h3 a.rogue:hover, h4 a.rogue:hover, h5 a.rogue:hover, h6 a.rogue:hover {
  color: #4b9900;
}

/* line 39, ../../../app/stylesheets/screen.sass */
h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding: 0 0 15px 0;
}
/* line 43, ../../../app/stylesheets/screen.sass */
h1 span.q, h1 span.user, h1 span.tag {
  color: #4b9900;
}

/* line 46, ../../../app/stylesheets/screen.sass */
h2 {
  padding: 45px 0 5px 0;
  font-size: 1.2em;
}

/* line 50, ../../../app/stylesheets/screen.sass */
h3 {
  padding: 15px 0 5px 0;
  color: #4b9900;
  font-size: 1.1em;
}

/* line 55, ../../../app/stylesheets/screen.sass */
a {
  color: #4b9900;
}

/* line 58, ../../../app/stylesheets/screen.sass */
.weak {
  color: #cccccc;
}

/* line 61, ../../../app/stylesheets/screen.sass */
p {
  padding: 5px 0 5px 0;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial;
  font-size: 1em;
  line-height: 1.3em;
  color: #333333;
}
/* line 67, ../../../app/stylesheets/screen.sass */
p.big {
  font-size: 1.3em;
  line-height: 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  color: #999999;
  padding: 0 0 15px 0;
}
/* line 73, ../../../app/stylesheets/screen.sass */
p.empty {
  color: #999999;
  padding: 0 0 15px 0;
}
/* line 77, ../../../app/stylesheets/screen.sass */
p img.roomy {
  margin: 15px 0;
}

/* line 81, ../../../app/stylesheets/screen.sass */
div#top_bar {
  float: none;
  clear: both;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 2;
}
/* line 88, ../../../app/stylesheets/screen.sass */
div#top_bar a#logo {
  display: block;
  clear: none;
  float: left;
  margin: 0;
  padding: 10px 15px;
  background-color: #4b9900;
  color: white;
  text-decoration: none;
}
/* line 96, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav {
  margin: 0 15px 0 0;
  list-style: none;
  display: block;
  clear: none;
  float: right;
}
/* line 100, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li {
  float: left;
  color: #999999;
  font-size: 0.8em;
  line-height: 1.5em;
  border-right: none;
}
/* line 106, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li:first-child, div#top_bar ul#user_nav li.first {
  border: none;
}
/* line 108, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li:last-child, div#top_bar ul#user_nav li.last {
  border: none;
}
/* line 110, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li a {
  padding: 8px 10px;
  display: inline-block;
  color: #999999;
  text-decoration: none;
}
/* line 115, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li a:hover, div#top_bar ul#user_nav li a.active {
  background-color: #999999;
  color: white;
}
/* line 119, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li form.search {
  margin: 3px 15px 0 0;
  background: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 0px inset;
  border: 1px solid #cccccc;
}
/* line 125, ../../../app/stylesheets/screen.sass */
div#top_bar ul#user_nav li form.search input.q {
  background: none;
  border: none;
  outline: none;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial;
  padding: 6px 4px;
  font-size: 1em;
}

/* line 133, ../../../app/stylesheets/screen.sass */
div.content {
  margin: 70px 15px 100px 100px;
}
/* line 136, ../../../app/stylesheets/screen.sass */
div.content div.column {
  width: 600px;
}

/* line 139, ../../../app/stylesheets/screen.sass */
ul#chrome_options {
  margin: 10px;
}
/* line 141, ../../../app/stylesheets/screen.sass */
ul#chrome_options li {
  border-bottom: 1px solid #cccccc;
  padding: 7px 0;
  font-size: 0.9em;
}
/* line 145, ../../../app/stylesheets/screen.sass */
ul#chrome_options li:last-child {
  border: none;
}
/* line 147, ../../../app/stylesheets/screen.sass */
ul#chrome_options li.weak {
  color: #999999;
}
/* line 149, ../../../app/stylesheets/screen.sass */
ul#chrome_options li h1 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/* line 153, ../../../app/stylesheets/screen.sass */
ul#chrome_options li a {
  text-decoration: none;
}

/* line 156, ../../../app/stylesheets/screen.sass */
div#bottom_bar {
  float: none;
  clear: both;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 162, ../../../app/stylesheets/screen.sass */
div#bottom_bar ul {
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
  clear: none;
  float: right;
  margin: 0 10px 0 0;
  background: white;
}
/* line 33, ../../../app/stylesheets/zass/_zass.sass */
div#bottom_bar ul li {
  float: left;
  clear: none;
  margin: 0;
  padding: 2px 10px;
  border-right: 1px solid #dddddd;
}
/* line 39, ../../../app/stylesheets/zass/_zass.sass */
div#bottom_bar ul li:first-child, div#bottom_bar ul li.first {
  padding-left: 0;
}
/* line 41, ../../../app/stylesheets/zass/_zass.sass */
div#bottom_bar ul li:last-child, div#bottom_bar ul li.last {
  padding-right: 0;
  border-right: none;
}
/* line 167, ../../../app/stylesheets/screen.sass */
div#bottom_bar ul li {
  color: #999999;
  font-size: 0.8em;
  padding: 10px;
}
/* line 171, ../../../app/stylesheets/screen.sass */
div#bottom_bar ul li a {
  color: #555555;
}
/* line 173, ../../../app/stylesheets/screen.sass */
div#bottom_bar ul li a:hover {
  color: #4b9900;
}

/* line 178, ../../../app/stylesheets/screen.sass */
form.formtastic {
  width: 600px;
  float: none;
  clear: both;
  overflow: hidden;
  margin: 10px 0;
}
/* line 186, ../../../app/stylesheets/screen.sass */
form.formtastic fieldset.inputs ol li label {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
}
/* line 188, ../../../app/stylesheets/screen.sass */
form.formtastic fieldset.inputs ol li p.inline-hints {
  font-size: 0.8em;
}
/* line 190, ../../../app/stylesheets/screen.sass */
form.formtastic fieldset.inputs ol li textarea {
  border: 1px solid #cccccc;
}

/* line 194, ../../../app/stylesheets/screen.sass */
ol.steps {
  padding: 0 0 0 25px;
}
/* line 196, ../../../app/stylesheets/screen.sass */
ol.steps li {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial;
  font-size: 1em;
  list-style-type: decimal;
  line-height: 1.4em;
  color: #666666;
  padding: 5px 0;
}
/* line 203, ../../../app/stylesheets/screen.sass */
ol.steps li span.complete {
  text-decoration: line-through;
  color: #999999;
}
/* line 206, ../../../app/stylesheets/screen.sass */
ol.steps li a {
  color: #4b9900;
  text-decoration: none;
}
/* line 209, ../../../app/stylesheets/screen.sass */
ol.steps li a.complete {
  text-decoration: line-through;
  color: #999999;
}

/* line 213, ../../../app/stylesheets/screen.sass */
ul.samples {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}
/* line 217, ../../../app/stylesheets/screen.sass */
ul.samples li {
  font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 0.9em;
  padding: 5px 0;
}
/* line 221, ../../../app/stylesheets/screen.sass */
ul.samples li a {
  color: #666666;
}
/* line 223, ../../../app/stylesheets/screen.sass */
ul.samples li a:hover {
  color: #4b9900;
}

/* line 226, ../../../app/stylesheets/screen.sass */
ul.tag_cloud {
  margin: 20px 0;
  float: none;
  clear: both;
  overflow: hidden;
}
/* line 229, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li {
  display: block;
  clear: none;
  float: left;
  display: block;
  height: 30px;
  overflow: hidden;
}
/* line 234, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a {
  text-decoration: none;
  padding: 2px 10px;
  line-height: 1.2em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 239, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a.tag4 {
  font-size: 1.75em;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 242, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a.tag3 {
  font-size: 1.5em;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
/* line 245, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a.tag2 {
  font-size: 1.25em;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 248, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a.tag1 {
  margin-top: 10px;
  font-size: 0.9em;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}
/* line 252, ../../../app/stylesheets/screen.sass */
ul.tag_cloud li a:hover {
  background-color: #4b9900;
  color: white;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 258, ../../../app/stylesheets/screen.sass */
ul.sniphs {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 264, ../../../app/stylesheets/screen.sass */
ul.sniphs.images {
  width: 100%;
}
/* line 267, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph {
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #cccccc;
}
/* line 271, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p {
  color: black;
  line-height: 1.3em;
  padding: 0 0 4px 0;
}
/* line 276, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.content span.q {
  color: #4b9900;
}
/* line 278, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.source {
  font-size: 0.9em;
  padding: 0;
  color: #999999;
}
/* line 282, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.source a {
  color: #4b9900;
  text-decoration: none;
}
/* line 285, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.source a span.domain {
  color: #aaaaaa;
  font-size: 0.9em;
}
/* line 289, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.source a.faviconic {
  padding: 5px 0 5px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  color: black !important;
}
/* line 295, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.metadata {
  padding: 3px 0 3px 0;
  font-size: 0.7em;
  color: #aaaaaa;
}
/* line 299, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.metadata a {
  color: #aaaaaa;
}
/* line 301, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.metadata a:hover {
  color: #999999;
}
/* line 303, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.metadata a.delete {
  text-decoration: none;
}
/* line 305, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.metadata a.delete:hover {
  color: #990000;
  text-decoration: underline;
}
/* line 308, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.tags {
  font-size: 0.9em;
  color: #cccccc;
}
/* line 311, ../../../app/stylesheets/screen.sass */
ul.sniphs li.sniph p.tags a {
  color: #999999;
}

/* line 314, ../../../app/stylesheets/screen.sass */
table.queries {
  width: 100%;
  font-size: 0.9em;
}
/* line 320, ../../../app/stylesheets/screen.sass */
table.queries thead tr th {
  padding: 3px;
  color: #999999;
}
/* line 325, ../../../app/stylesheets/screen.sass */
table.queries tbody tr td {
  padding: 6px;
  border-top: 1px solid #cccccc;
  font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
/* line 329, ../../../app/stylesheets/screen.sass */
table.queries tbody tr:hover {
  background-color: #333333;
}
/* line 331, ../../../app/stylesheets/screen.sass */
table.queries tbody tr:hover td {
  color: white;
}
/* line 333, ../../../app/stylesheets/screen.sass */
table.queries tbody tr:hover td a {
  color: white;
}

/* line 337, ../../../app/stylesheets/screen.sass */
.users .user {
  display: block;
  clear: none;
  float: left;
  margin: 0 10px 50px 0;
  width: 240px;
}
/* line 341, ../../../app/stylesheets/screen.sass */
.users .user img.avatar {
  display: block;
  clear: none;
  float: left;
  width: 53px;
  height: 53px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  border-top-color: #f0f0f0;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #f0f0f0;
  margin-right: 10px;
}
/* line 353, ../../../app/stylesheets/screen.sass */
.users .user .meta {
  display: block;
  clear: none;
  float: left;
}
/* line 355, ../../../app/stylesheets/screen.sass */
.users .user .meta span {
  float: none;
  clear: both;
  overflow: hidden;
  display: block;
  word-wrap: break-word;
}
/* line 359, ../../../app/stylesheets/screen.sass */
.users .user .meta span.name {
  padding-top: 7px;
}
/* line 361, ../../../app/stylesheets/screen.sass */
.users .user .meta span.name a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* line 365, ../../../app/stylesheets/screen.sass */
.users .user .meta span.location {
  padding-top: 5px;
  color: #999999;
  font-size: 0.9em;
}

/* line 371, ../../../app/stylesheets/screen.sass */
div.pagination {
  margin: 20px 0 20px 0;
}
/* line 373, ../../../app/stylesheets/screen.sass */
div.pagination a, div.pagination em {
  padding: 4px 8px;
  background-color: #cccccc;
  color: white;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 379, ../../../app/stylesheets/screen.sass */
div.pagination em {
  background-color: #333333;
}
/* line 381, ../../../app/stylesheets/screen.sass */
div.pagination a:hover {
  background-color: #4b9900;
}
/* line 383, ../../../app/stylesheets/screen.sass */
div.pagination span.gap {
  color: #cccccc;
}
/* line 385, ../../../app/stylesheets/screen.sass */
div.pagination span.disabled {
  color: #cccccc;
}

/* line 390, ../../../app/stylesheets/screen.sass */
div.extension_options {
  width: 350px;
}
/* line 393, ../../../app/stylesheets/screen.sass */
div.extension_options form {
  margin: 10px 0 0 0;
}
/* line 395, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 399, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li {
  margin: 10px 0;
  padding: 6px 0;
  display: block;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}
/* line 406, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li:first-child {
  border-top: 1px solid #cccccc;
}
/* line 408, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li:last-child {
  border-bottom: none;
}
/* line 410, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li label {
  padding: 6px 0 0 0;
  font-size: 0.9em;
  display: block;
  float: left;
}
/* line 415, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li input.text {
  display: block;
  float: right;
  font-size: 0.9em;
  padding: 1px;
  width: 120px;
}
/* line 421, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li select {
  display: block;
  float: right;
  font-size: 0.9em;
  width: 120px;
}
/* line 426, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li a#save_options {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: white;
  background-color: #4b9900;
  padding: 4px 8px;
  font-size: 0.8em;
  text-decoration: none;
}
/* line 434, ../../../app/stylesheets/screen.sass */
div.extension_options form ul.inputs > li a#save_options:hover {
  background-color: #326600;
}
/* line 438, ../../../app/stylesheets/screen.sass */
div.extension_options div#status {
  margin: 20px 0;
  padding: 10px;
  background-color: #fdebab;
}
