%div.content

  %div.column


    %h3 What?

    %p
      Sniphr is a Google Chrome extension that saves the snippets of text you highlight as you
      browse around the web. It's the lazy (wo)man's bookmarking tool.
      
    %p
      Using Sniphr is simple. When you select text on a page whose domain is in your whitelist,
      that snippet of text will be saved to your Sniphr account, along with the URL and title of
      the page. If you want to save a snippet of text from a page that's not in your whitelist, 
      hold down the shift key while selecting the text. That's it!

  
    %h3 How?
    = installation_steps