%h1 Sniphr

%p.big
  I'm up in your chromes, sniffin' yr snips!
  Sniphr is a Google Chrome extension that tracks the text you select as you browse the web.
  Each time you select a piece of text, Sniphr saves it. Think of it as a casual form of bookmarking.
  
%p.big
  - if logged_in?
    = "Step 1: Sign in with your Twitter account. (done)"
  - else
    = link_to("Step 1: Sign in with your Twitter account.", "/auth/twitter")

%p.big
  = link_to("Step 2: Install the extension.", "https://chrome.google.com/extensions/detail/dgpgdcglcodcglcglbompkodmjnoobil")

= sample_sniph_queries