%div.content

  %div.column

    %p
      Sniphr is a Google Chrome extension that lets you save snippets of text from the web.
      Think of it as friction-free bookmarking.
  
    = installation_steps