%h1 Sniphr

%p.big
	I'm up in your chromes, sniffin' yr snips!
	Sniphr is a Google Chrome extension that tracks the text you select as you browse the web.
	Each time you select a piece of text, Sniphr saves it. Think of it as a casual form of bookmarking.
	
%p.big
	= link_to("Install Sniphr", "#")

= sample_sniph_queries
	